/*Todo esto son los selectores */

.titulo {
  color: #0800aa;
}

/* Clases */
.Subtitulo {
  color: #00b8cb;
}

/* ID */
#cotitulo {
  color: #3d02ab;
}

/* Atributos */
[parrafo="primer-parrafo"] {
  color: #d1029c;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: auto;
  margin: top;
  border: 4px solid blue;
  background: yellow;
  overflow: auto;
}

.negrita {
  color: #faff01;
  display:block;
}


/* pseudoclase */
.we:hover {
  color: #e64161;
}


.cajaPlace{
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 50px;
  background: #5500bf;
  text-emphasis-color: black;

  display: inline-block;
}

.cajaPlace,textarea{
  color: black;
}

.cajaPlace::placeholder{
  color: red;
}

.cajaPlace::selection,textarea{
  background-color: yellow;
  color: blue;
}

.sobreMi{
  display: block;
}

.primerHover,textarea{
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 5%;
  background: #3d02ab;
  color: white;
}

.primerHover:hover{
  background: #d400df;
  transition: 3s;
}

.nav__responsive-ul{
  display: none;
}

.nav{
  background-color: #174bbe;
}

.nav__li{
  display: inline-block;
  padding: 10px;
  color: white;
}

.nav__li a{
  color: white;
  font-family: 'Mukta', sans-serif;
  text-decoration: none;
}

.nav__li:hover > a{
  color: #bbb;
}

.nav__li:hover{
  color: #bbb;
}

.nav__li i{

  box-sizing: border-box;
  text-align: center;
  margin-right: 5px;
}


@media only screen and (max-width: 500px){

  .nav__ul{
    display: none;
  }

  .nav{
    height: 37px;
    width: 100%;
  }

  .nav__responsive-ul{
    display: block;
    position: absolute;
    width: 100%;
    color: #016;
    margin-top: 55px;
    padding-top: 0px;
    height: 0px;
  }

  .nav__responsive-ul:hover > .nav__li-conteiner{
    top: -0px;
  }

  .nav__li-conteiner{
    position: relative;
    top: -1000px;
    height: calc(100vh - 55px);
    background-color: #9bf;
    transition: all 1s;
    z-index: 1;
    width: 45%;
    padding-top: 10px;

  }


.nav__responsive-li{
  width: 100%;
  padding: 9px 20px;
}

.nav__responsive-li i{
  box-sizing: border-box;
  text-align: center;
  margin-right: 5px;
  width: 30px;
}

  .nav__responsive-li > a{
    color: #016;
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
  }



  .nav__responsive-button-conteiner{
    position: absolute;
    width: 100%;
    font-size: 25px;
    background-color: #69c;
    margin-top: -55px;
    z-index: 100;
    height: 55px;
  }

  .nav__responsive-button{
    padding: 15px 150px 2px;
    text-align: center;
    width: 100%;
  }

}
